@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SGA - Sistema de gerenciamento acadêmico</h1>
    <p class="lead">Efetue "Log in" para acessar o sistema.</p>
</div>

<div class="row">
    
</div>